<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/main_layout1}">
 <head> 
  <meta charset="utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
  <title>${title}</title> 
  <meta name="keywords" content="${systemName}" /> 
  <meta name="description" content="${content}" />    
  <!-- Data Tables -->    
 </head> 
 <body class="gray-bg">
  <div class="ibox-content" layout:fragment="content"> 
   <form class="form-inline" id="condition_form" data-grid-id="grid"> 
    <div class="form-group"> 
     <div class="form-group"> 
      <label for="id" class="sr-only">ID</label> 
      <input type="text" placeholder="ID" class="form-control number" validate="{maxlength:10,number:true,required:true}" th:field="${staffShiftDto.id}" /> 
     </div> 
     <div class="form-group"> 
      <label for="shiftworkId" class="sr-only">シフトID</label> 
      <select placeholder="シフトID" class="form-control number" validate="{maxlength:10,number:true,required:true}" th:field="${staffShiftDto.shiftworkId}"> <option value="">---シフトIDを選択---</option><option th:each="item : ${@staffShiftService.selectByExample(null)}" th:value="${item.shiftworkId}" th:text="${item.shiftworkId}"></option></select> 
     </div> 
     <div class="form-group"> 
      <label for="staffId" class="sr-only">スタッフID</label> 
      <select placeholder="スタッフID" class="form-control number" validate="{maxlength:10,number:true,required:true}" th:field="${staffShiftDto.staffId}"> <option value="">---スタッフIDを選択---</option><option th:each="item : ${@staffShiftService.selectByExample(null)}" th:value="${item.staffId}" th:text="${item.staffId}"></option></select> 
     </div> 
     <div class="form-group"> 
      <label for="state" class="sr-only">状態 0: 已申请 1:拒否 2:同意</label> 
      <input type="text" placeholder="状態 0: 已申请 1:拒否 2:同意" class="form-control number" validate="{maxlength:10,number:true,required:true}" th:field="${staffShiftDto.state}" /> 
     </div> 
     <div class="hr-line-dashed"></div> 
     <div class="checkbox m-l m-r-xs"> 
      <label class="i-checks" value="true" placeholder="false:未削除 true:削除"> <input type="checkbox" validate="{required:true}" th:field="${staffShiftDto.deleteFlag}" /><i></i> false:未削除 true:削除</label> 
     </div> 
     <button class="btn btn-primary m-l-sm m-t-xs" type="submit" id="searchForGrid" data-grid-id="grid">検索</button> 
     <button class="btn btn-white" type="reset">リセット</button> 
    </div> 
   </form> 
   <div class="hr-line-dashed"></div> 
   <table id="grid" class="table table-bordered table-hover" data-opt="{'loadUrl':'api/staffShiftRest/list','addUrl':'staffShift/insert','editUrl':'staffShift/edit','deleteUrl':'api/staffShiftRest'}" data-key="id"></table> 
  </div>
  <div layout:fragment="js">
   <script th:src="@{/js/main/staffShift/list.js}"></script>
  </div>
  <h5 layout:fragment="caption">スタッフ_シフト一覧画面</h5> 
 </body>
</html>