<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/main_layout}">
 <head> 
  <meta charset="utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
  <title>${title}</title> 
  <meta name="keywords" content="${systemName}" /> 
  <meta name="description" content="${content}" />    
  <!-- Data Tables -->    
 </head> 
 <body class="gray-bg">
  <div class="ibox-content" layout:fragment="content"> 
   <form class="form-inline" id="condition_form" data-grid-id="grid"> 
    <div class="form-group"> 
     <div class="form-group"> 
      <label for="id" class="sr-only">ID</label> 
      <input type="text" placeholder="ID" class="form-control number" validate="{maxlength:10,number:true,required:true}" th:field="${userRoleDto.id}" /> 
     </div> 
     <div class="form-group"> 
      <label for="userId" class="sr-only">ユーザーID</label> 
      <select placeholder="ユーザーID" class="form-control number" validate="{maxlength:10,number:true,required:true}" th:field="${userRoleDto.userId}"> <option value="">---ユーザーIDを選択---</option><option th:each="item : ${@userRoleService.selectByExample(null)}" th:value="${item.userId}" th:text="${item.userId}"></option></select> 
     </div> 
     <div class="form-group"> 
      <label for="roleId" class="sr-only">ロールID</label> 
      <select placeholder="ロールID" class="form-control number" validate="{maxlength:10,number:true,required:true}" th:field="${userRoleDto.roleId}"> <option value="">---ロールIDを選択---</option><option th:each="item : ${@userRoleService.selectByExample(null)}" th:value="${item.roleId}" th:text="${item.roleId}"></option></select> 
     </div> 
     <div class="checkbox m-l m-r-xs"> 
      <label class="i-checks" value="true" placeholder="false:未削除 true:削除"> <input type="checkbox" validate="{required:true}" th:field="${userRoleDto.deleteFlag}" /><i></i> false:未削除 true:削除</label> 
     </div> 
     <div class="hr-line-dashed"></div> 
     <button class="btn btn-primary m-l-sm m-t-xs" type="submit" id="searchForGrid" data-grid-id="grid">検索</button> 
     <button class="btn btn-white" type="reset">リセット</button> 
    </div> 
   </form> 
   <div class="hr-line-dashed"></div> 
   <table id="grid" class="table table-bordered table-hover" data-opt="{'loadUrl':'api/userRoleRest/list','addUrl':'userRole/insert','editUrl':'userRole/edit','deleteUrl':'api/userRoleRest'}" data-key="id"></table> 
  </div>
  <div layout:fragment="js">
   <script th:src="@{/js/main/userRole/list.js}"></script>
  </div>
  <h5 layout:fragment="caption">ユーザールール一覧画面</h5> 
 </body>
</html>