<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/main_layout1}">
 <head> 
  <meta charset="utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
  <title>${title}</title> 
  <meta name="keywords" content="${systemName}" /> 
  <meta name="description" content="${content}" />    
  <!-- Data Tables -->    
 </head> 
 <body class="gray-bg">
  <div class="ibox-content" layout:fragment="content"> 
   <form class="form-inline" id="condition_form" data-grid-id="grid"> 
    <div class="form-group">
     <div class="form-group"> 
      <label for="staffId" class="sr-only">スタッフID</label> 
      <select placeholder="スタッフID" class="form-control number" validate="{maxlength:10,number:true,required:true}"
              th:field="${staffVisaDto.staffId}">
       <option value="">---スタッフIDを選択---</option>
       <option th:each="item : ${@staffService.selectByExample(null)}" th:value="${item.staffId}"
               th:text="${item.staffName}">

       </option>
      </select>
     </div>
     <button class="btn btn-primary m-l-sm m-t-xs" type="submit" id="searchForGrid" data-grid-id="grid">検索</button> 
     <button class="btn btn-white" type="reset">リセット</button> 
    </div> 
   </form> 
   <div class="hr-line-dashed"></div> 
   <table id="grid" class="table table-bordered table-hover" data-opt="{'loadUrl':'api/staffVisaRest/list','addUrl':'staffVisa/insert','editUrl':'staffVisa/edit','deleteUrl':'api/staffVisaRest'}" data-key="id"></table> 
  </div>
  <div layout:fragment="js">
   <script th:src="@{/js/main/staffVisa/list.js}"></script>
  </div>
  <h5 layout:fragment="caption">スタッフ_签证種類一覧画面</h5> 
 </body>
</html>