<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/main_layout}">
 <head> 
  <meta charset="utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
  <title>${title}</title> 
  <meta name="keywords" content="${systemName}" /> 
  <meta name="description" content="${content}" />    
  <!-- Data Tables -->    
 </head> 
 <body class="gray-bg">
  <div class="ibox-content" layout:fragment="content"> 
   <form class="form-inline" id="condition_form" data-grid-id="grid"> 
    <div class="form-group"> 
     <div class="form-group"> 
      <label for="fileId" class="sr-only">ファイルID</label> 
      <input type="text" placeholder="ファイルID" class="form-control number" validate="{maxlength:10,number:true,required:true}" th:field="${fileDto.fileId}" /> 
     </div> 
     <div class="form-group"> 
      <label for="storePath" class="sr-only">ストレージ パス</label> 
      <input type="text" placeholder="ストレージ パス" class="form-control " validate="{maxlength:128,required:true}" th:field="${fileDto.storePath}" /> 
     </div> 
     <div class="form-group"> 
      <label for="category" class="sr-only">カテゴリ:1:資格外証明書 2:40時間证明 </label> 
      <input type="text" placeholder="カテゴリ:1:資格外証明書  2:40時間证明 " class="form-control number" validate="{maxlength:10,number:true,required:true}" th:field="${fileDto.category}" /> 
     </div> 
     <div class="form-group"> 
      <label for="state" class="sr-only">状態 0:未読 1:未承認　2:承認</label> 
      <input type="text" placeholder="状態 0:未読 1:未承認　2:承認" class="form-control number" validate="{maxlength:10,number:true,required:true}" th:field="${fileDto.state}" /> 
     </div> 
     <div class="hr-line-dashed"></div> 
     <div class="form-group"> 
      <label for="staffId" class="sr-only">スタッフID</label> 
      <select placeholder="スタッフID" class="form-control number" validate="{maxlength:10,number:true,required:true}" th:field="${fileDto.staffId}"> <option value="">---スタッフIDを選択---</option><option th:each="item : ${@fileService.selectByExample(null)}" th:value="${item.staffId}" th:text="${item.staffId}"></option></select> 
     </div> 
     <div class="checkbox m-l m-r-xs"> 
      <label class="i-checks" value="true" placeholder="false:未削除 true:削除"> <input type="checkbox" validate="{required:true}" th:field="${fileDto.deleteFlag}" /><i></i> false:未削除 true:削除</label> 
     </div> 
     <button class="btn btn-primary m-l-sm m-t-xs" type="submit" id="searchForGrid" data-grid-id="grid">検索</button> 
     <button class="btn btn-white" type="reset">リセット</button> 
    </div> 
   </form> 
   <div class="hr-line-dashed"></div> 
   <table id="grid" class="table table-bordered table-hover" data-opt="{'loadUrl':'api/fileRest/list','addUrl':'file/insert','editUrl':'file/edit','deleteUrl':'api/fileRest'}" data-key="fileId"></table> 
  </div>
  <div layout:fragment="js">
   <script th:src="@{/js/main/file/list.js}"></script>
  </div>
  <h5 layout:fragment="caption">ファイル一覧画面</h5> 
 </body>
</html>