<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/main_layout}">
 <head> 
  <meta charset="utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
  <title>${title}</title> 
  <meta name="keywords" content="${systemName}" /> 
  <meta name="description" content="${content}" />    
  <!-- Data Tables -->    
 </head> 
 <body class="gray-bg">
  <div class="ibox-content" layout:fragment="content"> 
   <form class="form-inline" id="condition_form" data-grid-id="grid"> 
    <div class="form-group"> 
     <div class="form-group"> 
      <label for="userId" class="sr-only">管理者ID</label> 
      <input type="text" placeholder="管理者ID" class="form-control number" validate="{maxlength:10,number:true,required:true}" th:field="${appUserDto.userId}" /> 
     </div> 
     <div class="form-group"> 
      <label for="userCode" class="sr-only">ロールコード</label> 
      <input type="text" placeholder="ロールコード" class="form-control " validate="{maxlength:16,required:true}" th:field="${appUserDto.userCode}" /> 
     </div> 
     <div class="form-group"> 
      <label for="userName" class="sr-only">管理者名</label> 
      <input type="text" placeholder="管理者名" class="form-control " validate="{maxlength:128,required:true}" th:field="${appUserDto.userName}" /> 
     </div> 
     <div class="form-group"> 
      <label for="password" class="sr-only">パスワード</label> 
      <input type="text" placeholder="パスワード" class="form-control " validate="{maxlength:255,required:true}" th:field="${appUserDto.password}" /> 
     </div> 
     <div class="hr-line-dashed"></div> 
     <div class="form-group"> 
      <label for="companyId" class="sr-only">会社ID</label> 
      <select placeholder="会社ID" class="form-control number" validate="{maxlength:10,number:true,required:true}" th:field="${appUserDto.companyId}"> <option value="">---会社IDを選択---</option><option th:each="item : ${@appUserService.selectByExample(null)}" th:value="${item.companyId}" th:text="${item.companyId}"></option></select> 
     </div> 
     <div class="checkbox m-l m-r-xs"> 
      <label class="i-checks" value="true" placeholder="false:未削除 true:削除"> <input type="checkbox" validate="{required:true}" th:field="${appUserDto.deleteFlag}" /><i></i> false:未削除 true:削除</label> 
     </div> 
     <button class="btn btn-primary m-l-sm m-t-xs" type="submit" id="searchForGrid" data-grid-id="grid">検索</button> 
     <button class="btn btn-white" type="reset">リセット</button> 
    </div> 
   </form> 
   <div class="hr-line-dashed"></div> 
   <table id="grid" class="table table-bordered table-hover" data-opt="{'loadUrl':'api/appUserRest/list','addUrl':'appUser/insert','editUrl':'appUser/edit','deleteUrl':'api/appUserRest'}" data-key="userId"></table> 
  </div>
  <div layout:fragment="js">
   <script th:src="@{/js/main/appUser/list.js}"></script>
  </div>
  <h5 layout:fragment="caption">管理者一覧画面</h5> 
 </body>
</html>